on: push
name: VolTrac APK (unsigned)
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '2.10.4'
    - run: flutter pub get
    - run: flutter build apk --split-per-abi
    # - name: Create a Release APK
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: release-apk
    #     path: /build/app/outputs/apk/release/app-release.apk
